<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        title Listado de productos
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap")
        link(rel="stylesheet", href="css/font-awesome-4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/loader.css")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
    body
        .loader-page
        
        .menu
            i(class="fa fa-shopping-cart" aria-hidden="true" data-toggle="modal" data-target="#sidebar-right")
            span 0

            .fila
                .listaCategorias
                    .item.activado Pollo
                    .item Cerdo cong
                    .item Cerdo nal
                    .item Res
                    .item Angus USA
                    .item Pescado
                    .item Mariscos
                    .item Papas
                    .item Congelados
                    .item Tocinetas
                    .item Salsas
                    .item Apanados
                    .item Quesos
                    .item Carne frias
                    .item Otros
            
            .fila.oculto.subMenu
                .listaCategorias
                    .item Pollo
                    .item Cerdo cong
                    .item Cerdo nal
                    .item Res

        .fila
            .portadaEmpresa
                img(src="img/portada.jpg", alt="")

        .fila
            .logoEmpresa
                img(src="img/logosurti.png", alt="")

                .encabezado
                    h1.tituloEncabezadoPrincipal.centrado Surtidelicias Montería
                    p.parrafoEncabezado.centrado
                        i(class="fa fa-clock-o" aria-hidden="true").icono 
                        | Todos los Días de 7am a 6pm. Dom y Festivos hasta 1pm
                        
                    p.parrafoEncabezadoSecundario.centrado
                        i(class="fa fa-map-marker" aria-hidden="true").icono 
                        | Cra 9 11A 16 Monteria
                    .centrado
                        i(class="fa fa-whatsapp" aria-hidden="true").icono
                        i(class="fa fa-facebook" aria-hidden="true").icono
                        i(class="fa fa-instagram" aria-hidden="true").icono
                          
        .fila
            .encabezado#topMenu
                h1.tituloEncabezado.centrado Nuestros productos

            .listaCategorias
                .item.activado Pollo
                .item Cerdo cong
                .item Cerdo nal
                .item Res
                .item Angus USA
                .item Pescado
                .item Mariscos
                .item Papas
                .item Congelados
                .item Tocinetas
                .item Salsas
                .item Apanados
                .item Quesos
                .item Carne frias
                .item Otros
        
        .fila.oculto
            .listaCategorias
                .item Pollo
                .item Cerdo cong
                .item Cerdo nal
                .item Res
                .item Angus USA
                .item Pescado
                .item Mariscos
                .item Papas
                .item Congelados
                .item Tocinetas
                .item Salsas
                .item Apanados
                .item Quesos
                .item Carne frias
                .item Otros

        .fila
            .encabezado
                h1.tituloEncabezado Título de la categoría
                h2.subtituloEncabezado Descripción de la categoría

            .colum-5
                article.articulo
                    header
                        span.descuento 10%
                        img.imagenProducto(src="img/4.jpg", alt="")
                    .contenidoArticulo
                        h2.titulo Ala de pollo
                        h3.subtitulo Libra
                        p.precio $ 3.425
                        button.boton
                            i.fa.fa-shopping-cart(aria-hidden="true")
                article.articulo
                    header
                        img.imagenProducto(src="img/3.jpg", alt="")
                    .contenidoArticulo
                        h2.titulo Punta chuleta
                        h3.subtitulo Paquete
                        p.precio $ 10.650
                        button.boton
                            i.fa.fa-shopping-cart(aria-hidden="true")
                article.articulo
                    header
                        img.imagenProducto(src="img/product-9.jpg", alt="")
                    .contenidoArticulo
                        h2.titulo Recorte de chuleta
                        h3.subtitulo Libra
                        p.precio $ 4.300
                        button.boton
                            i.fa.fa-shopping-cart(aria-hidden="true")
                article.articulo
                    header
                        img.imagenProducto(src="img/product-11.jpg", alt="")
                    .contenidoArticulo
                        h2.titulo Carne molida de res
                        h3.subtitulo Bolsa
                        p.precio $ 7.350
                        button.boton
                            i.fa.fa-shopping-cart(aria-hidden="true")
                article.articulo
                    header
                        img.imagenProducto(src="img/product-20.jpg", alt="")
                    .contenidoArticulo
                        h2.titulo Arveja verde x 500g
                        h3.subtitulo Paquete
                        p.precio $ 5.550
                        button.boton
                            i.fa.fa-shopping-cart(aria-hidden="true")
                article.articulo
                    header
                        img.imagenProducto(src="img/Cerdo/01Cerdo.png", alt="")
                    .contenidoArticulo
                        h2.titulo Bandeja lomo de cerdo tajado
                        h3.subtitulo Libra
                        p.precio $ 7.250
                        button.boton
                            i.fa.fa-shopping-cart(aria-hidden="true")
                article.articulo
                    header
                        img.imagenProducto(src="img/Cerdo/02Cerdo.png", alt="")
                    .contenidoArticulo
                        h2.titulo Cerdo molido
                        h3.subtitulo Libra
                        p.precio $ 5.950
                        button.boton
                            i.fa.fa-shopping-cart(aria-hidden="true")
                article.articulo
                    header
                        img.imagenProducto(src="img/Cerdo/03Cerdo.png", alt="")
                    .contenidoArticulo
                        h2.titulo Chicharron con costilla x 500gr
                        h3.subtitulo Paquete
                        p.precio $ 5.850
                        button.boton
                            i.fa.fa-shopping-cart(aria-hidden="true")
                article.articulo
                    header
                        img.imagenProducto(src="img/Papas/01Papa.png", alt="")
                    .contenidoArticulo
                        h2.titulo Papa francesa 7x7 x 1Kg
                        h3.subtitulo Bolsa
                        p.precio $ 5.000
                        button.boton
                            i.fa.fa-shopping-cart(aria-hidden="true")
                article.articulo
                    header
                        img.imagenProducto(src="img/Papas/02Papa.png", alt="")
                    .contenidoArticulo
                        h2.titulo Papa a la francesa mydibel 9x9 x 1Kg
                        h3.subtitulo Bolsa
                        p.precio $ 5.850
                        button.boton
                            i.fa.fa-shopping-cart(aria-hidden="true")
                article.articulo
                    header
                        img.imagenProducto(src="img/Papas/03Papa.png", alt="")
                    .contenidoArticulo
                        h2.titulo Papa 9x9 francesa ricongelisto x 2 Kg
                        h3.subtitulo Bolsa
                        p.precio $ 10.700
                        button.boton
                            i.fa.fa-shopping-cart(aria-hidden="true")
                article.articulo
                    header
                        img.imagenProducto(src="img/Pollo/01Pollo.png", alt="")
                    .contenidoArticulo
                        h2.titulo Pechuga abierta fresca
                        h3.subtitulo Libra
                        p.precio $ 5.950
                        button.boton
                            i.fa.fa-shopping-cart(aria-hidden="true")
                article.articulo
                    header
                        img.imagenProducto(src="img/Pollo/02Pollo.png", alt="")
                    .contenidoArticulo
                        h2.titulo Pata y cabeza
                        h3.subtitulo paquete
                        p.precio $ 2.500
                        button.boton
                            i.fa.fa-shopping-cart(aria-hidden="true")
                article.articulo
                    header
                        img.imagenProducto(src="img/Pollo/03Pollo.png", alt="")
                    .contenidoArticulo
                        h2.titulo Pata pescuezo
                        h3.subtitulo paquete
                        p.precio $ 4.400
                        button.boton
                            i.fa.fa-shopping-cart(aria-hidden="true")
                article.articulo
                    header
                        img.imagenProducto(src="img/Pollo/04Pollo.png", alt="")
                    .contenidoArticulo
                        h2.titulo Muslo de pollo colombiana
                        h3.subtitulo Libra
                        p.precio $ 2.250
                        button.boton
                            i.fa.fa-shopping-cart(aria-hidden="true")
                article.articulo
                    header
                        img.imagenProducto(src="img/Pollo/06Pollo.png", alt="")
                    .contenidoArticulo
                        h2.titulo Molleja de pollo
                        h3.subtitulo Paquete
                        p.precio $ 3.150
                        button.boton
                            i.fa.fa-shopping-cart(aria-hidden="true")
        
        // Modal 1
        div(class="modal fade right" id="sidebar-right" tabindex="-1" role="dialog")
            div(class="modal-dialog" role="document")
                div(class="modal-content")
                    div(class="modal-header")
                        button(type="button" class="close" data-dismiss="modal")
                            span(aria-hidden="true") &times;
                        h4(class="modal-title") Resumen del pedido

                    div(class="modal-body")
                        article.detalleProducto
                            header.izq
                                img.imagenProducto(src="img/4.jpg", alt="")
                            .contenido
                                p.tituloDetalleProducto Ala de pollo sin costilla
                                p.precioDetalleProducto $ 4.225
                                div(id="carritoCompra" class="input-group")
                                    span(class="input-group-btn")
                                        button(type="button" class="btn btn-number red"  data-type="minus" data-field="quant[2]")
                                            span(class="glyphicon glyphicon-minus")

                                    input(type="text" name="quant[2]" class="form-control input-number" value="10" min="1" max="100")
                                    
                                    span(class="input-group-btn")
                                        button(type="button" class="btn btn-number red" data-type="plus" data-field="quant[2]")
                                            span(class="glyphicon glyphicon-plus")
                            span.borrar X
                            hr
                        
                        article.detalleProducto
                            header.izq
                                img.imagenProducto(src="img/4.jpg", alt="")
                            .contenido
                                p.tituloDetalleProducto Ala de pollo sin costilla
                                p.precioDetalleProducto $ 4.225
                                div(class="input-group")
                                    span(class="input-group-btn")
                                        button(type="button" class="btn btn-number red"  data-type="minus" data-field="quant[2]")
                                            span(class="glyphicon glyphicon-minus")

                                    input(type="text" name="quant[2]" class="form-control input-number" value="10" min="1" max="100")
                                    
                                    span(class="input-group-btn")
                                        button(type="button" class="btn btn-number red" data-type="plus" data-field="quant[2]")
                                            span(class="glyphicon glyphicon-plus")
                            span.borrar X
                            hr
                        
                        article.detalleProducto
                            header.izq
                                img.imagenProducto(src="img/4.jpg", alt="")
                            .contenido
                                p.tituloDetalleProducto Ala de pollo sin costilla
                                p.precioDetalleProducto $ 4.225
                                div(class="input-group")
                                    span(class="input-group-btn")
                                        button(type="button" class="btn btn-number red"  data-type="minus" data-field="quant[2]")
                                            span(class="glyphicon glyphicon-minus")

                                    input(type="text" name="quant[2]" class="form-control input-number" value="10" min="1" max="100")
                                    
                                    span(class="input-group-btn")
                                        button(type="button" class="btn btn-number red" data-type="plus" data-field="quant[2]")
                                            span(class="glyphicon glyphicon-plus")
                            span.borrar X
                            hr
                        
                        article.detalleProducto
                            header.izq
                                img.imagenProducto(src="img/4.jpg", alt="")
                            .contenido
                                p.tituloDetalleProducto Ala de pollo sin costilla
                                p.precioDetalleProducto $ 4.225
                                div(class="input-group")
                                    span(class="input-group-btn")
                                        button(type="button" class="btn btn-number red"  data-type="minus" data-field="quant[2]")
                                            span(class="glyphicon glyphicon-minus")

                                    input(type="text" name="quant[2]" class="form-control input-number" value="10" min="1" max="100")
                                    
                                    span(class="input-group-btn")
                                        button(type="button" class="btn btn-number red" data-type="plus" data-field="quant[2]")
                                            span(class="glyphicon glyphicon-plus")
                            span.borrar X
                            hr

                        article.detalleProducto
                            header.izq
                                img.imagenProducto(src="img/4.jpg", alt="")
                            .contenido
                                p.tituloDetalleProducto Ala de pollo sin costilla
                                p.precioDetalleProducto $ 4.225
                                div(class="input-group")
                                    span(class="input-group-btn")
                                        button(type="button" class="btn btn-number red"  data-type="minus" data-field="quant[2]")
                                            span(class="glyphicon glyphicon-minus")

                                    input(type="text" name="quant[2]" class="form-control input-number" value="10" min="1" max="100")
                                    
                                    span(class="input-group-btn")
                                        button(type="button" class="btn btn-number red" data-type="plus" data-field="quant[2]")
                                            span(class="glyphicon glyphicon-plus")
                            span.borrar X
                            hr

                    div(class="modal-footer")
                        .con
                            p.izq Subtotal
                            p.derecha $ 4.225
                        .con
                            p.izq Delivery
                            p.derecha $ 0
                        .con.resaltado
                            p.izq Total
                            p.derecha $ 4.225
                        button(data-toggle="modal" data-target="#sidebar-right2" class="continuarPedido") Continuar

        // Modal 2
        div(class="modal fade right" id="sidebar-right2" tabindex="-1" role="dialog")
            div(class="modal-dialog" role="document")
                div(class="modal-content")
                    div(class="modal-header")
                        button(type="button" class="close" data-dismiss="modal")
                            span(aria-hidden="true") &times;
                        h4(class="modal-title") Completar pedido

                    div(class="modal-body")
                        article.metodoDepago
                            .fila
                                p.tituloMetodoEntrega Métodos de Entrega
                                p.subTituloMetodoEntrega Elige como quieres que sea entregado tu pedido

                                .domicilio.activo
                                    input(type="radio")
                                    label(for="") DOMICILIO
                            
                                .domicilio
                                    input(type="radio")
                                    label(for="") RECOGER

                                .formulario
                                    label.label(for="") 
                                    | Nombre de quién recibe
                                    span.obligatorio *
                                    
                                    input(type="text")
                            
                                .formulario
                                    label(for="") 
                                    | Teléfono
                                    span.obligatorio *

                                    input(type="text")
                                    span.mensajeCorto * Para ser contactado con relación a su pedido

                                .formulario
                                    label(for="") 
                                    | Zona de entrega 
                                    span.obligatorio *

                                    select.select
                                        option(value="s") -- Seleccione una zona --
                                        option(value="a") Opción A
                                        option(value="b") Opción B
                                        option(value="c") Opción C
                            
                                .formulario
                                    label(for="") 
                                    | Dirección de entrega 
                                    span.obligatorio *
                                    
                                    input(type="text")
                                    span.mensajeCorto # Casa, Edificio, Área - Punto de Referencia

                                p.tituloMetodoEntrega Programa tu entrega
                                p.subTituloMetodoEntrega Elige una fecha y hora disponible
                                
                                .formulario
                                    input(type="date")                                


                                p.tituloMetodoEntrega Formas de Pago
                                p.subTituloMetodoEntrega Elige una forma de como quieres pagar
                                
                                .mediosDePago
                                    input(type="radio")
                                    label(for="") Transferencia Bancolombia

                                    article.pagoInformacion
                                        h1 Información de pago
                                        hr.separador
                                        p Desde la App Bancolombia o Cajero, debes transferir a Cuenta Ahorros Bancolombia 681-000283-56
                                        p.total Total: 
                                        span $219.600
                                    
                                    hr.separador

                                .mediosDePago
                                    input(type="radio")
                                    label(for="") Efectivo

                                    article.pagoInformacion
                                        h1 Información de pago
                                        hr.separador
                                        p Paga con Efectivo al Recibir
                                        input(type="number" placeholder="$0.00")
                                        p.total Total: 
                                        span $219.600

                                    hr.separador

                                .mediosDePago
                                    input(type="radio")
                                    label(for="") Tarjeta de Crédito

                                    article.pagoInformacion
                                        h1 Información de pago
                                        hr.separador
                                        p A través del link de pagos Surtidelicias, se te enviará con el valor de tu factura
                                        p.total Total: 
                                        span $219.600

                                    hr.separador

                                .mediosDePago
                                    input(type="radio")
                                    label(for="") Otros Bancos

                                    article.pagoInformacion
                                        h1 Información de pago
                                        hr.separador
                                        p A través del link de pagos Surtidelicias, se te enviará con el valor de tu factura
                                        p.total Total: 
                                        span $219.600

                                    hr.separador
                            
                                .textarea
                                    label(for="") ¿Quieres aclarar algo del pedido?
                                    textarea
                                    span.mensajeCorto * Algo que le quiera mencionar a Surtidelicias Montería

                                article.informacionComercio
                                    i.fa.fa-info-circle
                                    h1 Información del Comercio
                                    p Efectivo al Recibir o Transfer. Ahorros Bancolombia 681-000283-56
                            
                    div(class="modal-footer")
                        .con
                            p.izq Subtotal
                            p.derecha $ 4.225
                        .con
                            p.izq Delivery
                            p.derecha $ 0
                        .con.resaltado
                            p.izq Total
                            p.derecha $ 4.225
                        button.continuarPedidoWhatsApp Completar pedido por WhatsApp

        footer.footer.centrado Diseño web realizado en el 2020

        script(src="https://code.jquery.com/jquery-3.5.1.min.js")
        script(src="js/loader.js")
        script(src="js/menuSticky.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")