<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        title Listado de productos

        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,200&display=swap")
        link(rel="stylesheet", href="css/font-awesome-4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
    body
        
        .contenedor
            .listaCategorias
                .item 
                    a(href="#pollo") Pollo
                .item 
                    a(href="#cerdo") Cerdo cong
                .item Cerdo nal
                .item Res
                .item Angus USA
                .item Pescado
                .item Mariscos
                .item 
                    a(href="#papa") Papas
                .item Congelados
                .item Tocinetas
                .item Salsas
                .item Apanados
                .item Quesos
                .item Carne frias
                .item Otros

        .hero-img#pollo
            h1.tituloHero Pollo

        .contenedor
            .col-5
                article
                    img.imagenProducto(src="img/Pollo/01Pollo.png", alt="")
                    h2.titulo ALA DE POLLO CON COSTILLAR
                    h3.subtitulo libra
                    p.precio $ 3.425
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Pollo/02Pollo.png", alt="")
                    h2.titulo ALA DE POLLO SIN COSTILLAR
                    h3.subtitulo libra
                    p.precio $ 4.225
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Pollo/03Pollo.png", alt="")
                    h2.titulo CHUZO CONTRAMUSLO 10 und x 1800 gr
                    h3.subtitulo unidad
                    p.precio $ 28.000
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Pollo/04Pollo.png", alt="")
                    h2.titulo CONTRAMUSLO
                    h3.subtitulo libra
                    p.precio $ 13.450
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Pollo/05Pollo.png", alt="")
                    h2.titulo GOULASH DE PECHUGA
                    h3.subtitulo libra
                    p.precio $ 4.450
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Pollo/06Pollo.png", alt="")
                    h2.titulo MENUDENCIA DE POLLO
                    h3.subtitulo paquete
                    p.precio $ 1.550
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Pollo/07Pollo.png", alt="")
                    h2.titulo MOLLEJA DE POLLO
                    h3.subtitulo paquete
                    p.precio $ 3.150
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Pollo/07Pollo.png", alt="")
                    h2.titulo MOLLEJA DE POLLO
                    h3.subtitulo paquete
                    p.precio $ 3.150
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Pollo/07Pollo.png", alt="")
                    h2.titulo MOLLEJA DE POLLO
                    h3.subtitulo paquete
                    p.precio $ 3.150
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Pollo/07Pollo.png", alt="")
                    h2.titulo MOLLEJA DE POLLO
                    h3.subtitulo paquete
                    p.precio $ 3.150
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Pollo/07Pollo.png", alt="")
                    h2.titulo MOLLEJA DE POLLO
                    h3.subtitulo paquete
                    p.precio $ 3.150
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Pollo/07Pollo.png", alt="")
                    h2.titulo MOLLEJA DE POLLO
                    h3.subtitulo paquete
                    p.precio $ 3.150
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar

        .hero-img#cerdo
            h1.tituloHero Cerdo cong

        .contenedor
            .col-5
                article
                    img.imagenProducto(src="img/Cerdo/01Cerdo.png", alt="")
                    h2.titulo BANDEJA LOMO DE CERDO TAJADO
                    h3.subtitulo libra
                    p.precio $ 7.250
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Cerdo/02Cerdo.png", alt="")
                    h2.titulo CERDO MOLIDO
                    h3.subtitulo libra
                    p.precio $ 6.000
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Cerdo/03Cerdo.png", alt="")
                    h2.titulo CHICHARRON CON COSTILLA x 500 gr
                    h3.subtitulo paquete
                    p.precio $ 5.850
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Cerdo/04Cerdo.png", alt="")
                    h2.titulo CODILLOS DE CERDO
                    h3.subtitulo libra
                    p.precio $ 3.875
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Cerdo/05Cerdo.png", alt="")
                    h2.titulo COSTILLA CENTRO PREMIUN (St Louis)
                    h3.subtitulo libra
                    p.precio $ 9.000
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Cerdo/06Cerdo.png", alt="")
                    h2.titulo COSTILLA DE CERDO (Brisket)
                    h3.subtitulo libra
                    p.precio $ 6.250
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Cerdo/07Cerdo.png", alt="")
                    h2.titulo COSTILLA DE CERDO AHUMADAS x 350 g
                    h3.subtitulo paquete
                    p.precio $ 6.650
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
        
        .hero-img#papa
            h1.tituloHero Papas
        
        .contenedor
            .col-5
                article
                    img.imagenProducto(src="img/Papas/01papa.png", alt="")
                    h2.titulo PAPA 9x9 FRANCESA RICONGELISTO x 2 Kg
                    h3.subtitulo bolsa
                    p.precio $ 10.700
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Papas/02papa.png", alt="")
                    h2.titulo PAPA A LA FRANCESA MYDIBEL 9x9 x 1 Kg
                    h3.subtitulo bolsa
                    p.precio $ 5.850
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Papas/03papa.png", alt="")
                    h2.titulo PAPA A LA FRANCESA MYDIBEL 9X9 x 2,5 Kg
                    h3.subtitulo bolsa
                    p.precio $ 14.100
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Papas/04papa.png", alt="")
                    h2.titulo PAPA CRIOLLA REDONDA X 1000 g
                    h3.subtitulo bolsa
                    p.precio $ 7.300
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Papas/05papa.png", alt="")
                    h2.titulo PAPA FRANCESA 7x7 x 1Kg
                    h3.subtitulo bolsa
                    p.precio $ 5.000
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Papas/06papa.png", alt="")
                    h2.titulo PAPA LW H0057 2,27KG CON COBERTURA 9x9 x 2,27kg
                    h3.subtitulo bolsa
                    p.precio $ 21.300
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
                article
                    img.imagenProducto(src="img/Papas/07papa.png", alt="")
                    h2.titulo PAPA LW S19 2,27KG CON COBERTURA 9x9 x 2,27kg
                    h3.subtitulo bolsa
                    p.precio $ 22.550
                    button.botton
                        i.fa.fa-shopping-cart(aria-hidden="true")
                        | Agregar
        
        footer Diseño web realizado en el 2020